
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&family=Kanit:wght@100;200;300&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,800;0,900;1,400;1,500;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.App {
  text-align: center;
  align-items: center;
}

body {
  background-color: #1c1c1c;
  color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.pagestyle {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff7597;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.icon a {
  color: #1c1c1c;
}